body {
    background: tomato;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 1.7vw;
}
hr {
    width: 80vw;
    border: 1px solid white;
}
h1 {
    font-size: 2.5em;
}
a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
table {
    margin: 10px auto;
    width: 50vw;
}

thead td {
    border-bottom: solid 5px black;
    padding: 0;
    margin: 0;
}
iframe {
    margin: 10px auto;
}
.artist-image {
    width: 25vw;
}
#artists-wrapper {
    margin: 2vw auto;
}
