<h2>all artists</h2>
<a href="/artists/new">add new artist</a>
<div id="artists-wrapper">
    {{#each artists}}
        <div>
            <a href="/artists/{{_id}}">{{name}}</a>
        </div>
    {{/each}}
</div>


