<h2>create new artist</h2>

<form action="/artists" method="POST">
    <label for="name">name:</label>
        <input type="text" id="name" name="name">
    <label for="genre">genre:</label>
        <input type="text" id="genre" name="genre">
    <label for="img-link">image link:</label>
        <input type="text" name="imgLink" id="img-link">
    <input type="submit" value="submit new artist">
</form>