<h2>Create New Artist</h2>

<form action="/artists" method="POST">
    <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre">
    <input type="submit" value="Submit New Artist">
</form>